#account header{
  position: relative;
  height: 150px;
  width: 100%;
  background-color: burlywood;
  padding-top: 30px;
  text-align: center;
}
#account header .img{
  height: 60px;
  width: 60px;
  border-radius:30px;
  background-color: chocolate;
  margin: 0 auto;

}
#account header .setting{
  display: inline-block;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}
#account .message{
  height: 40px;
  width: 100%;
  background-color: #eee;
  line-height: 40px;
}
#account .message .left{
  display: inline-block;
  float: left;
}
#account .message .right{
  display: inline-block;
  float: right;
}








